@use "./colors.scss" as color;

// common
.section-heading {
  border-left: 3px solid color.$red_color;
  padding-left: 1rem !important;
}

// Hero Section
#hero {
  background: #f6f2eb;

  .jesus-image-container {
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.3;
  }

  .btn-circle {
    right: 5%;
    bottom: 5%;
  }

  @media (min-width: 768px) {
    .row:first-child {
      aspect-ratio: 10/7;

      > div {
        height: 100% !important;

        > div.energy-body-wrapper {
          height: 50% !important;

          .semi-circle {
            height: 100% !important;
            width: 100% !important;

            .image-container {
              max-width: 10rem;

              img {
                width: 100%;
              }
            }
          }
        }
      }

      .jesus-image-container {
        height: 100% !important;
        position: relative !important;
        transform: unset;
        top: unset;
        opacity: 1;
        z-index: 3;

        img {
          position: absolute;
          height: 100% !important;
          width: 130% !important;
          object-fit: cover !important;
          left: 50%;
          transform: translateX(-50%);
          z-index: 10;
        }

        .semi-circle {
          height: 60% !important;
        }
      }
    }
  }
}

// Introduction section
#introduction {
  .row {
    > .image-container {
      .image {
        width: 45%;

        &:last-child {
          height: 85%;
        }
      }
    }

    .introduction-card {
      .image-container {
        background: black;
      }
    }

    &:last-child {
      background: #ffe6e0;

      .linear-image-container {
        height: 3rem;
        aspect-ratio: 4/1;

        .image-div {
          aspect-ratio: 1/1;

          .image-container {
            height: 200%;
            width: 200%;
            border: 1px solid white;
            background: #000;
          }
        }
      }
    }
  }
}

// quote
#quote .image-container .image-wrapper {
  max-width: 100%;
}

// potential section
#potential {
  .small-div {
    background: transparent;

    @media (min-width: 576px) {
      max-width: unset;
    }

    > .image-container {
      aspect-ratio: 3/4;
    }
  }

  .large-div {
    background: transparent;

    > .image-container {
      aspect-ratio: 1/1;
    }
  }
}

// satisfaction section
#satisfaction {
  .slider-container {
    position: relative;

    &:after {
      position: absolute;
      right: -1rem;
      top: 0;
      content: "";
      height: 100%;
      width: 2.5rem;
      background: linear-gradient(to left, #fff 35%, #fff0 110%);
    }

    .carousel-wrapper {
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

// grow section
#grow > .row {
  > .text-container {
    .checkpoints .wrapper .checkbox {
      height: 1rem;
      aspect-ratio: 1/1;
      border: 1px solid black;

      @media (min-width: 768px) {
        height: 1.5rem;
      }
    }

    > .btn-image-container .image-container {
      width: 40%;
      aspect-ratio: 4/5;
    }
  }

  > .image-container {
    aspect-ratio: 5/3;

    @media (min-width: 576px) {
      aspect-ratio: 3/5;

      .image {
        height: 80% !important;
      }
    }
  }
}

// members section
#members {
  .cards-container {
    .card-wrapper {
      aspect-ratio: 5/3;
      max-width: 20rem;

      .card {
        .image-container {
          width: unset;
          aspect-ratio: 5/7;
          max-width: 45%;
        }

        .text-container {
          .round-icon-container {
            height: 1.5rem;
            aspect-ratio: 1/1;
            border: 1px solid rgb(0, 0, 0);
          }
        }

        .social-icons-container a {
          height: 1rem;
          aspect-ratio: 1/1;
          visibility: hidden;
        }

        &:hover .social-icons-container a {
          visibility: visible;
        }
      }

      @media (min-width: 992px) {
        aspect-ratio: 5/8;

        .card {
          .text-container .divider {
            width: 1px;
            background: black;
          }

          .social-icons-container a {
            height: 1.3rem !important;
          }

          .image-container {
            max-width: unset;
            aspect-ratio: 6/7;
            height: 70% !important;
          }
        }
      }
    }
  }

  .horizontal-row {
    > span {
      height: 2px;
      background: beige;
    }
  }

  > img {
    height: 6rem;
    bottom: -3.5rem;

    &:first-child {
      top: -3.5rem;
      bottom: unset;
    }
  }
}

// events section
#events {
  .carousel-container {
    &::-webkit-scrollbar {
      display: none;
    }

    .carousel-wrapper {
      transition: all 0.3s ease;
      justify-content: unset !important;

      .carousel-card {
        border: 1px solid black;

        > .image-container {
          background: #000;
        }

        > .text-container {
          .icon-row span {
            &:first-child {
              height: 1rem;
              aspect-ratio: 1/1;
            }
          }
        }
      }
    }
  }

  .carousel-buttons-container button {
    height: 1.5rem;
    aspect-ratio: 1/1;
  }

  @media (min-width: 576px) {
    .carousel-buttons-container button {
      height: 2.5rem;
    }
  }
}

// articles section
#articles {
  .article-main-bg {
    z-index: -1;
  }

  .articles-card {
    @media (min-width: 768px) {
      width: 55% !important;
    }
  }

  .carousel-container {
    &::-webkit-scrollbar {
      display: none;
    }

    .carousel-wrapper {
      // 100 small, 50% 576px, 33.33 992px
      .crousel-card-wrapper {
        .carousel-card {
          border: 1px solid black;
          max-width: 18rem;

          > div {
            height: 50%;
          }

          aspect-ratio: 10/11;

          .text-container {
            .author-container {
              .image {
                height: 2rem;
                aspect-ratio: 1/1;
                background: #000a;
              }

              .hr {
                width: 1rem;
                height: 1.5px;
                background: beige;
              }
            }
          }

          @media (min-width: 576px) {
            max-width: unset;
            aspect-ratio: 5/7;
          }
        }
      }
    }
  }

  .carousel-buttons-container {
    button {
      height: 1.5rem;
      aspect-ratio: 1/1;

      @media (min-width: 576px) {
        height: 2rem;
      }
    }
  }
}
