@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
.section-heading {
  border-left: 3px solid #c0304f;
  padding-left: 1rem !important;
}

#hero {
  background: #f6f2eb;
}
#hero .jesus-image-container {
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.3;
}
#hero .btn-circle {
  right: 5%;
  bottom: 5%;
}
@media (min-width: 768px) {
  #hero .row:first-child {
    aspect-ratio: 10/7;
  }
  #hero .row:first-child > div {
    height: 100% !important;
  }
  #hero .row:first-child > div > div.energy-body-wrapper {
    height: 50% !important;
  }
  #hero .row:first-child > div > div.energy-body-wrapper .semi-circle {
    height: 100% !important;
    width: 100% !important;
  }
  #hero .row:first-child > div > div.energy-body-wrapper .semi-circle .image-container {
    max-width: 10rem;
  }
  #hero .row:first-child > div > div.energy-body-wrapper .semi-circle .image-container img {
    width: 100%;
  }
  #hero .row:first-child .jesus-image-container {
    height: 100% !important;
    position: relative !important;
    transform: unset;
    top: unset;
    opacity: 1;
    z-index: 3;
  }
  #hero .row:first-child .jesus-image-container img {
    position: absolute;
    height: 100% !important;
    width: 130% !important;
    -o-object-fit: cover !important;
       object-fit: cover !important;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
  #hero .row:first-child .jesus-image-container .semi-circle {
    height: 60% !important;
  }
}

#introduction .row > .image-container .image {
  width: 45%;
}
#introduction .row > .image-container .image:last-child {
  height: 85%;
}
#introduction .row .introduction-card .image-container {
  background: black;
}
#introduction .row:last-child {
  background: #ffe6e0;
}
#introduction .row:last-child .linear-image-container {
  height: 3rem;
  aspect-ratio: 4/1;
}
#introduction .row:last-child .linear-image-container .image-div {
  aspect-ratio: 1/1;
}
#introduction .row:last-child .linear-image-container .image-div .image-container {
  height: 200%;
  width: 200%;
  border: 1px solid white;
  background: #000;
}

#quote .image-container .image-wrapper {
  max-width: 100%;
}

#potential .small-div {
  background: transparent;
}
@media (min-width: 576px) {
  #potential .small-div {
    max-width: unset;
  }
}
#potential .small-div > .image-container {
  aspect-ratio: 3/4;
}
#potential .large-div {
  background: transparent;
}
#potential .large-div > .image-container {
  aspect-ratio: 1/1;
}

#satisfaction .slider-container {
  position: relative;
}
#satisfaction .slider-container:after {
  position: absolute;
  right: -1rem;
  top: 0;
  content: "";
  height: 100%;
  width: 2.5rem;
  background: linear-gradient(to left, #fff 35%, rgba(255, 255, 255, 0) 110%);
}
#satisfaction .slider-container .carousel-wrapper::-webkit-scrollbar {
  display: none;
}

#grow > .row > .text-container .checkpoints .wrapper .checkbox {
  height: 1rem;
  aspect-ratio: 1/1;
  border: 1px solid black;
}
@media (min-width: 768px) {
  #grow > .row > .text-container .checkpoints .wrapper .checkbox {
    height: 1.5rem;
  }
}
#grow > .row > .text-container > .btn-image-container .image-container {
  width: 40%;
  aspect-ratio: 4/5;
}
#grow > .row > .image-container {
  aspect-ratio: 5/3;
}
@media (min-width: 576px) {
  #grow > .row > .image-container {
    aspect-ratio: 3/5;
  }
  #grow > .row > .image-container .image {
    height: 80% !important;
  }
}

#members .cards-container .card-wrapper {
  aspect-ratio: 5/3;
  max-width: 20rem;
}
#members .cards-container .card-wrapper .card .image-container {
  width: unset;
  aspect-ratio: 5/7;
  max-width: 45%;
}
#members .cards-container .card-wrapper .card .text-container .round-icon-container {
  height: 1.5rem;
  aspect-ratio: 1/1;
  border: 1px solid rgb(0, 0, 0);
}
#members .cards-container .card-wrapper .card .social-icons-container a {
  height: 1rem;
  aspect-ratio: 1/1;
  visibility: hidden;
}
#members .cards-container .card-wrapper .card:hover .social-icons-container a {
  visibility: visible;
}
@media (min-width: 992px) {
  #members .cards-container .card-wrapper {
    aspect-ratio: 5/8;
  }
  #members .cards-container .card-wrapper .card .text-container .divider {
    width: 1px;
    background: black;
  }
  #members .cards-container .card-wrapper .card .social-icons-container a {
    height: 1.3rem !important;
  }
  #members .cards-container .card-wrapper .card .image-container {
    max-width: unset;
    aspect-ratio: 6/7;
    height: 70% !important;
  }
}
#members .horizontal-row > span {
  height: 2px;
  background: beige;
}
#members > img {
  height: 6rem;
  bottom: -3.5rem;
}
#members > img:first-child {
  top: -3.5rem;
  bottom: unset;
}

#events .carousel-container::-webkit-scrollbar {
  display: none;
}
#events .carousel-container .carousel-wrapper {
  justify-content: unset !important;
}
#events .carousel-container .carousel-wrapper .carousel-card {
  border: 1px solid black;
}
#events .carousel-container .carousel-wrapper .carousel-card > .image-container {
  background: #000;
}
#events .carousel-container .carousel-wrapper .carousel-card > .text-container .icon-row span:first-child {
  height: 1rem;
  aspect-ratio: 1/1;
}
#events .carousel-buttons-container button {
  height: 1.5rem;
  aspect-ratio: 1/1;
}
@media (min-width: 576px) {
  #events .carousel-container .carousel-wrapper {
    gap: 6%;
  }
  #events .carousel-buttons-container button {
    height: 2.5rem;
  }
}

#articles .article-main-bg {
  z-index: -1;
}
@media (min-width: 768px) {
  #articles .articles-card {
    width: 55% !important;
  }
}
#articles .carousel-container::-webkit-scrollbar {
  display: none;
}
#articles .carousel-container .carousel-wrapper .crousel-card-wrapper .carousel-card {
  border: 1px solid black;
  max-width: 18rem;
  aspect-ratio: 10/11;
}
#articles .carousel-container .carousel-wrapper .crousel-card-wrapper .carousel-card > div {
  height: 50%;
}
#articles .carousel-container .carousel-wrapper .crousel-card-wrapper .carousel-card .text-container .author-container .image {
  height: 2rem;
  aspect-ratio: 1/1;
  background: rgba(0, 0, 0, 0.6666666667);
}
#articles .carousel-container .carousel-wrapper .crousel-card-wrapper .carousel-card .text-container .author-container .hr {
  width: 1rem;
  height: 1.5px;
  background: beige;
}
@media (min-width: 576px) {
  #articles .carousel-container .carousel-wrapper .crousel-card-wrapper .carousel-card {
    max-width: unset;
    aspect-ratio: 5/7;
  }
}
#articles .carousel-buttons-container button {
  height: 1.5rem;
  aspect-ratio: 1/1;
}
@media (min-width: 576px) {
  #articles .carousel-buttons-container button {
    height: 2rem;
  }
}/*# sourceMappingURL=home.css.map */