@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
.font-roboto {
  font-family: "Roboto Serif", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.font-roboto {
  font-family: "Roboto Serif", serif !important;
}

img.h-100 {
  height: 100% !important;
}

img.w-100 {
  width: 100% !important;
}

img.object-center {
  -o-object-position: center !important;
     object-position: center !important;
}

.object-cover {
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.fs-small {
  font-size: 0.5rem;
}
@media (min-width: 400px) {
  .fs-small {
    font-size: 0.7rem;
  }
}
@media (min-width: 768px) {
  .fs-small {
    font-size: 0.8rem !important;
  }
}
@media (min-width: 992px) {
  .fs-small {
    font-size: 0.9rem !important;
  }
}

.fs-medium {
  font-size: 0.6rem;
}
@media (min-width: 400px) {
  .fs-medium {
    font-size: 0.8rem;
  }
}
@media (min-width: 992px) {
  .fs-medium {
    font-size: 1.2rem !important;
  }
}

.fs-large {
  font-size: 1rem;
}
@media (min-width: 768px) {
  .fs-large {
    font-size: 0.9rem;
  }
}
@media (min-width: 992px) {
  .fs-large {
    font-size: 1.4rem !important;
  }
}

.fs-xl {
  font-size: 1.3rem;
}
@media (min-width: 768px) {
  .fs-xl {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  .fs-xl {
    font-size: 2.3rem;
  }
}

.semi-circle {
  border-radius: 50% 50% 0 0;
  border: 1px solid #dddddd;
  height: 15rem;
  z-index: 2;
  position: relative;
}

.btn-circle {
  max-height: 2rem !important;
  min-height: 2rem !important;
  max-width: 2rem !important;
  min-width: 2rem !important;
  background: black;
}
@media (min-width: 992px) {
  .btn-circle {
    max-height: 3rem !important;
    min-height: 3rem !important;
    max-width: 3rem !important;
    min-width: 3rem !important;
  }
}

.hover-cursor-pointer:hover {
  cursor: pointer;
}

.message-border {
  border: 1px dotted black;
}
.message-border > span {
  height: 0.8rem;
  aspect-ratio: 1/1;
  border: 1px dotted black;
  bottom: -0.4rem;
  transform: translateX(-50%) rotate(45deg);
  border-left-color: transparent;
  border-top-color: transparent;
  background: white;
}

.section-text-image > .row > .small-div {
  aspect-ratio: 1/1;
  max-width: 23rem;
}
@media (min-width: 576px) {
  .section-text-image > .row > .small-div {
    max-width: 30rem;
  }
}
.section-text-image > .row > .large-div {
  max-width: 23rem;
}
@media (min-width: 576px) {
  .section-text-image > .row > .large-div {
    max-width: unset;
  }
}

.btn-square {
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: black;
}

.shrine-card-wrapper {
  aspect-ratio: 3/4;
}
.shrine-card-wrapper.col-6 {
  min-width: 50% !important;
}
.shrine-card-wrapper.col-sm-4 {
  min-width: 33.33333333% !important;
}
.shrine-card-wrapper.col-md-3 {
  min-width: 25% !important;
}

.shrine-card {
  background: #ffe6e0;
  border-radius: 10% 10% 10% 0;
}
.shrine-card:hover button > span:first-child {
  display: block;
}
.shrine-card .image-container {
  aspect-ratio: 1/1;
}
.shrine-card button span:first-child {
  display: none;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.shrine-card button span:last-child {
  aspect-ratio: 1/1;
}

.heading-container .section-heading {
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.heading-container > span {
  max-width: 30rem;
}

.rectangle-circle {
  aspect-ratio: 5/6;
  border-radius: 45%;
}/*# sourceMappingURL=common.css.map */