@use "./colors.scss" as color;

#events {
  .carousel-container {
    &::-webkit-scrollbar {
      display: none;
    }
    .carousel-wrapper {
      justify-content: unset !important;
      .carousel-card {
        border: 1px solid black;
        > .image-container {
          background: #000;
        }
        > .text-container {
          .icon-row span {
            &:first-child {
              height: 1rem;
              aspect-ratio: 1/1;
            }
          }
        }
      }
    }
  }

  .carousel-buttons-container button {
    height: 1.5rem;
    aspect-ratio: 1/1;
  }

  @media (min-width: 576px) {
    // transform 72.6%
    .carousel-container .carousel-wrapper {
      gap: 6%;
    }

    .carousel-buttons-container button {
      height: 2.5rem;
    }
  }
}
