@use './colors.scss' as color;

#hero {
    background: #F6F2EB;

    .jesus-image-container {
        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }

        top: 50%;
        transform: translateY(-50%);
        opacity: .3;
    }

    .row:last-child {
        .font-roboto span {
            font-size: 1.5rem;
        }

        span {
            font-size: .7rem;

            @media (min-width: 768px) {
                font-size: .6rem;
            }
        }
    }

    @media (min-width: 768px) {


        .row:first-child {
            aspect-ratio: 5/4;

            >div {
                height: 100% !important;

                >div.energy-body-wrapper {
                    height: 50% !important;

                    .semi-circle {
                        height: 100% !important;
                        width: 100% !important;
                    }
                }
            }

            .jesus-image-container {
                height: 100% !important;
                position: relative !important;
                transform: unset;
                top: unset;
                opacity: 1;
                z-index: 3;

                img {
                    position: absolute;
                    height: 100%;
                    width: 130%;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 10;
                }

                .semi-circle {
                    height: 60% !important;
                }
            }
        }

    }

}

.section-heading {
    border-left: 1px solid color.$red_color;
}