@use "./colors.scss" as color;

#hero {
  background: #f6f2eb;

  .jesus-image-container {
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.3;
  }

  .btn-circle {
    right: 5%;
    bottom: 5%;
  }

  @media (min-width: 768px) {
    .row:first-child {
      aspect-ratio: 10/7;

      >div {
        height: 100% !important;

        >div.energy-body-wrapper {
          height: 50% !important;

          .semi-circle {
            height: 100% !important;
            width: 100% !important;

            .image-container {
              max-width: 10rem;

              img {
                width: 100%;
              }
            }
          }
        }
      }

      .jesus-image-container {
        height: 100% !important;
        position: relative !important;
        transform: unset;
        top: unset;
        opacity: 1;
        z-index: 3;

        img {
          position: absolute;
          height: 100% !important;
          width: 130% !important;
          object-fit: cover !important;
          left: 50%;
          transform: translateX(-50%);
          z-index: 10;
        }

        .semi-circle {
          height: 60% !important;
        }
      }
    }
  }
}

.section-heading {
  border-left: 3px solid color.$red_color;
  padding-left: 1rem !important;
}