@use "./colors.scss" as color;

#introduction {
  .row {
    > .image-container {
      .image {
        width: 45%;
        &:last-child {
          height: 85%;
        }
      }
    }

    .introduction-card {
      .image-container {
        background: black;
      }
    }

    &:last-child {
      background: #ffe6e0;

      .linear-image-container {
        height: 3rem;
        aspect-ratio: 4/1;

        .image-div {
          aspect-ratio: 1/1;

          .image-container {
            height: 200%;
            width: 200%;
            border: 1px solid white;
            background: #000;
          }
        }
      }
    }
  }
}
