@use "./colors.scss" as color;

#members {
    .cards-container {
        .card-wrapper {
            aspect-ratio: 5/3;
            max-width: 20rem;

            .card {
                .image-container {
                    background: red;
                    width: unset;
                    aspect-ratio: 5/7;
                    max-width: 45%;
                }

                .text-container {
                    .round-icon-container {
                        height: 1.5rem;
                        aspect-ratio: 1/1;
                        border: 1px solid red;

                    }
                }

                .social-icons-container {
                    span {
                        height: 1rem;
                        aspect-ratio: 1/1;
                        background: aqua;
                        // visibility: hidden;
                    }
                }
            }

            @media (min-width: 768px) {
                aspect-ratio: 5/7;

                .card {
                    .image-container {
                        max-width: unset;
                        height: 75% !important;
                    }
                }
            }
        }
    }
}