@use "./colors.scss" as color;

#potential {

    .small-div {
        background: transparent;

        @media (min-width: 576px) {
            max-width: unset;
        }

        >.image-container {
            aspect-ratio: 3/4;
        }
    }

    .large-div {
        background: transparent;

        >.image-container {
            aspect-ratio: 1/1;
        }
    }
}